@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 200;
  }

  50% {
    stroke-dashoffset: 50;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 200;
    transform: rotate(450deg);
  }
}

.loader__block {
  display: block;
  width: auto;
  text-align: center;
}

.loader__spinner {
  display: inline-block;
  vertical-align: top;
  animation: rotator 1.4s linear infinite;
}

.loader__path {
  stroke: #0053a7;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite;
}
