.firms {
    &__header {
        background: #0053a7;
        height: 70px;
    }
    &__icon {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        margin-left: 25px;
        &_back {
            width: 30px;
            height: 30px;
        }
    }
    &__add {
        position: absolute;
        margin-right: 25px;
        right: 0;
    }
}
